<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Viva</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.apalya.myplex2.0</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb582364305158936</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.apalya.myplex2.0</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.apalya.myplex2.0</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2.0</string>
	<key>ClientKey</key>
	<string>${CLIENTKEY}</string>
	<key>Domain</key>
	<string>${DOMAIN}</string>
	<key>FacebookAppID</key>
	<string>582364305158936</string>
	<key>FacebookDisplayName</key>
	<string>Viva</string>
	<key>IBCustomFonts</key>
	<dict>
		<key>HelveticaNeue</key>
		<string>Roboto-Regular</string>
		<key>HelveticaNeue-Bold</key>
		<string>Roboto-Bold</string>
		<key>HelveticaNeue-BoldItalic</key>
		<string>Roboto-BlackItalic</string>
		<key>HelveticaNeue-CondensedBlack</key>
		<string>RobotoCondensed-Regular</string>
		<key>HelveticaNeue-CondensedBold</key>
		<string>RobotoCondensed-Bold</string>
		<key>HelveticaNeue-Italic</key>
		<string>Roboto-Italic</string>
		<key>HelveticaNeue-Light</key>
		<string>Roboto-Light</string>
		<key>HelveticaNeue-LightItalic</key>
		<string>Roboto-LightItalic</string>
		<key>HelveticaNeue-Medium</key>
		<string>Roboto-Medium</string>
		<key>HelveticaNeue-MediumItalic</key>
		<string>Roboto-Mediumitalic</string>
		<key>HelveticaNeue-Thin</key>
		<string>Roboto-Thin</string>
		<key>HelveticaNeue-Thin_Italic</key>
		<string>Roboto-ThinItalic</string>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>Protocol</key>
	<string>${PROTOCOL}</string>
	<key>UIAppFonts</key>
	<array>
		<string>Roboto-Black.ttf</string>
		<string>Roboto-BlackItalic.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-BoldItalic.ttf</string>
		<string>Roboto-Italic.ttf</string>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-LightItalic.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-Mediumitalic.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-Thin.ttf</string>
		<string>Roboto-ThinItalic.ttf</string>
		<string>RobotoCondensed-Bold.ttf</string>
		<string>RobotoCondensed-BoldItalic.ttf</string>
		<string>RobotoCondensed-Italic.ttf</string>
		<string>RobotoCondensed-Light.ttf</string>
		<string>RobotoCondensed-LightItalic.ttf</string>
		<string>RobotoCondensed-Regular.ttf</string>
		<string>MuseoSansRounded-700.otf</string>
		<string>ss-symbolicons-line.ttf</string>
	</array>
	<key>UIMainStoryboardFile~ipad</key>
	<string>Main-iPad</string>
	<key>UIMainStoryboardFile~iphone</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarHidden~ipad</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
